<div data-controller="chart"
     data-chart-snapshots-value="<%= @snapshots.to_json %>"
     data-chart-snapshots-day-value="<%= @day_data.to_json %>"
     data-chart-snapshots-week-value="<%= @week_data.to_json %>"
     data-chart-snapshots-month-value="<%= @month_data.to_json %>"
     data-chart-snapshots-year-value="<%= @year_data.to_json %>"
     class="w-full max-w-4xl mx-auto bg-black border border-[#2B2B43] rounded-2xl p-8 font-sans">

  <div class="flex justify-between items-center mb-8">
    <h2 class="text-white text-4xl font-bold tracking-tight">Area-Series Chart</h2>
  </div>

  <div id="buttonsContainer" class="flex gap-4 mb-8 pl-2"></div>

  <div id="chartContainer" class="w-full h-[400px]"></div>
</div>