<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Personal Finance Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Personal Finance Manager">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">


    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "application" %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "layouts/navbar" %>
  <% if notice.present? %>
    <p class="fixed top-4 left-1/2 -translate-x-1/2 bg-slate-800 text-slate-200 text-sm px-6 py-3 rounded-lg shadow-lg z-50"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="fixed top-4 left-1/2 -translate-x-1/2 bg-red-900 text-red-200 text-sm px-6 py-3 rounded-lg shadow-lg z-50"><%= alert %></p>
  <% end %>

    <%= yield %>
  </body>
</html>
